@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/gothampro_medium.ttf") format("ttf"),
    url("../fonts/gothampro_medium.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_bold.ttf') format("ttf"),
    url("../fonts/gothampro_bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Gotham Pro";
    src: url('../fonts/gothampro_italic.ttf') format("ttf"),
    url("../fonts/gothampro_italic.ttf") format("ttf");
    font-weight: 700;
    font-style: italic;
}

:root {
}

@media (prefers-color-scheme: dark) {
    :root {

    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    font-family: "Gotham Pro", sans-serif;
}